body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2015px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:778px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:0px;
  width:1440px;
  height:778px;
  display:flex;
}
#u324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:478px;
  height:19px;
}
#u325p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:474px;
  height:6px;
  -webkit-transform:rotate(-0.148037017452998deg);
  -moz-transform:rotate(-0.148037017452998deg);
  -ms-transform:rotate(-0.148037017452998deg);
  transform:rotate(-0.148037017452998deg);
}
#u325p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:6px;
}
#u325p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-8.148037017453deg);
  -moz-transform:rotate(-8.148037017453deg);
  -ms-transform:rotate(-8.148037017453deg);
  transform:rotate(-8.148037017453deg);
}
#u325p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u325p002 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-180.148037017453deg);
  -moz-transform:rotate(-180.148037017453deg);
  -ms-transform:rotate(-180.148037017453deg);
  transform:rotate(-180.148037017453deg);
}
#u325p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:179px;
  width:469px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(8.148037017453deg);
  -moz-transform:rotate(8.148037017453deg);
  -ms-transform:rotate(8.148037017453deg);
  transform:rotate(8.148037017453deg);
}
#u325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
  text-align:left;
  line-height:20px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:208px;
  width:544px;
  height:50px;
  display:flex;
  color:#FF3399;
  text-align:left;
  line-height:20px;
}
#u326 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 5px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:656px;
  height:19px;
}
#u327p000 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:664px;
  height:18px;
  -webkit-transform:rotate(-0.497638725249864deg);
  -moz-transform:rotate(-0.497638725249864deg);
  -ms-transform:rotate(-0.497638725249864deg);
  transform:rotate(-0.497638725249864deg);
}
#u327p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:18px;
}
#u327p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(1.50236127475014deg);
  -moz-transform:rotate(1.50236127475014deg);
  -ms-transform:rotate(1.50236127475014deg);
  transform:rotate(1.50236127475014deg);
}
#u327p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u327p002 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(179.50236127475deg);
  -moz-transform:rotate(179.50236127475deg);
  -ms-transform:rotate(179.50236127475deg);
  transform:rotate(179.50236127475deg);
}
#u327p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:657px;
  width:647px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-1.50236127475014deg);
  -moz-transform:rotate(-1.50236127475014deg);
  -ms-transform:rotate(-1.50236127475014deg);
  transform:rotate(-1.50236127475014deg);
}
#u327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
  text-align:left;
  line-height:20px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:633px;
  width:544px;
  height:50px;
  display:flex;
  color:#FF3399;
  text-align:left;
  line-height:20px;
}
#u328 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 5px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
